<a href="https://colab.research.google.com/github/Santosh-QC/Colab-repository/blob/main/python_misc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Destructuring syntax

In [3]:
season = [('jan', 'cold'), ('feb', 'cold'), ('march', 'spring'), ('apr', 'hot'), ('may','hot'), ('june','hot')]
for k,v in season:
  print(f"it's {k} and it's {v}")

it's jan and it's cold
it's feb and it's cold
it's march and it's spring
it's apr and it's hot
it's may and it's hot
it's june and it's hot

# List comprehension

In [21]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
guests = ['RAM', 'MAT', 'SHyam', 'DHONI']

friend_list = [people for people in guests if people.lower() in friends]
print(friend_list)

['RAM', 'MAT']

# Set and Dictionary comprehension

In [23]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
guests = ['RAM', 'MAT', 'SHyam', 'DHONI']

friends_lower = {f.lower() for f in friends}
guests_lower = {g.lower() for g in guests}

present_friends = guests_lower.intersection(friends_lower)
present_friends = {friend.title() for friend in present_friends}

print(present_friends)

{'Mat', 'Ram'}

In [26]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
years = [1,10,12,10,5]

timers = {friends[i]:years[i] for i in range(len(friends))}
print(timers)

{'ram': 1, 'andy': 10, 'mat': 12, 'pitbulla': 10, 'rosicky': 5}

# Zip

In [29]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
years = [1,10,12,10,5]

dict_ = dict(zip(friends, years))

list_ = list(zip(friends, years))

print(dict_)
print(list_)

{'ram': 1, 'andy': 10, 'mat': 12, 'pitbulla': 10, 'rosicky': 5}
[('ram', 1), ('andy', 10), ('mat', 12), ('pitbulla', 10), ('rosicky', 5)]

# Lambda function

In [36]:
print((lambda x,y: x/y)(5,6))

average = (lambda sequence:sum(sequence)/len(sequence))
students = [{'name':'Ram','grades':(10,20,30,40,50)},
            {'name':'mat','grades':(11,12,13,14,15)},
            {'name':'pikolo','grades':(21,22,23,24,25)}
]

for student in students:
  print(f"average grades of {student['name']} is {average(student['grades'])}")

0.8333333333333334
average grades of Ram is 30.0
average grades of mat is 13.0
average grades of pikolo is 23.0

#Magic Methods

In [67]:
class movies:
  def __init__(self, name=None):
    self.name = name
    self.genre = []

  def __len__(self):
    return len(self.genre)

  def __getitem__(self, i):
    return self.genre[i]

  def __repr__(self):
    return f'Movies {self.name}'

  def __str__(self):
    return f'Movies : {len(self)}'

movies_names = movies()
movies_names.genre.append('Action')
movies_names.name='Rambo'
print(f"{movies_names.name} is an {movies_names.genre[0]} movie.")
print(len(movies_names))
print(movies_names[0])

print(movies_names.__repr__())
print(movies_names.__str__())

Rambo is an Action movie.
1
Action
Movies Rambo
Movies : 1

# Inheritance 
# @property Decorator

In [80]:
class student:
  def __init__(self, name, school):
    self.name = name
    self.school = school
    self.marks = []

  def average(self):
    return sum(self.marks)/ len(self.marks)

class WorkingStudent(student):
  def __init__(self, name, school, salary):
    super().__init__(name, school)
    self.salary = salary

  @property
  def weekly_salary(self):
    return int(self.salary / 37.5)

sam = WorkingStudent('sam', 'MIT', 16000)
print(f"{sam.name} salary is {sam.salary} and weekly salary is {sam.weekly_salary} USD.")
sam.marks.append(60)
sam.marks.append(100)
print(f"{sam.name} marks average is {sam.average()}.")

sam salary is 16000 and weekly salary is 426 USD.
sam marks average is 80.0.

# @ClassMethod
# @StaticMethod

In [81]:
class Foo:
  @classmethod
  def hi(cls):
    print(cls.__name__)

obj = Foo()
obj.hi()

Foo

In [84]:
class Bar:
  @staticmethod
  def text():
    print('this function doesn\'t take paramaters')

obj1 = Bar()
obj1.text()

this function doesn't take paramaters

In [93]:
class Fixedfloat:
  def __init__(self, amount):
    self.amount = amount

  def __repr__(self):
    return f"fixed float {self.amount:.2f}"

  @classmethod
  def from_sum(cls, value1, value2):
    return cls(value1 + value2)

new = Fixedfloat.from_sum(50, 50)
print(new)

class dollar(Fixedfloat):
  def __init__(self, amount):
    super().__init__(amount)
    self.symbol = '$'

  def __repr__(self):
    return f"dollar {self.symbol} {self.amount:.2f}"

usd = dollar.from_sum(60, 100)
print(usd)

fixed float 100.00
dollar $ 160.00