<a href="https://colab.research.google.com/github/Santosh-QC/Colab-repository/blob/main/python_misc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Destructuring syntax

In [3]:
season = [('jan', 'cold'), ('feb', 'cold'), ('march', 'spring'), ('apr', 'hot'), ('may','hot'), ('june','hot')]
for k,v in season:
  print(f"it's {k} and it's {v}")

it's jan and it's cold
it's feb and it's cold
it's march and it's spring
it's apr and it's hot
it's may and it's hot
it's june and it's hot

# List comprehension

In [21]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
guests = ['RAM', 'MAT', 'SHyam', 'DHONI']

friend_list = [people for people in guests if people.lower() in friends]
print(friend_list)

['RAM', 'MAT']

# Set and Dictionary comprehension

In [23]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
guests = ['RAM', 'MAT', 'SHyam', 'DHONI']

friends_lower = {f.lower() for f in friends}
guests_lower = {g.lower() for g in guests}

present_friends = guests_lower.intersection(friends_lower)
present_friends = {friend.title() for friend in present_friends}

print(present_friends)

{'Mat', 'Ram'}

In [26]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
years = [1,10,12,10,5]

timers = {friends[i]:years[i] for i in range(len(friends))}
print(timers)

{'ram': 1, 'andy': 10, 'mat': 12, 'pitbulla': 10, 'rosicky': 5}

# Zip

In [29]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
years = [1,10,12,10,5]

dict_ = dict(zip(friends, years))

list_ = list(zip(friends, years))

print(dict_)
print(list_)

{'ram': 1, 'andy': 10, 'mat': 12, 'pitbulla': 10, 'rosicky': 5}
[('ram', 1), ('andy', 10), ('mat', 12), ('pitbulla', 10), ('rosicky', 5)]

# Lambda function

In [36]:
print((lambda x,y: x/y)(5,6))

average = (lambda sequence:sum(sequence)/len(sequence))
students = [{'name':'Ram','grades':(10,20,30,40,50)},
            {'name':'mat','grades':(11,12,13,14,15)},
            {'name':'pikolo','grades':(21,22,23,24,25)}
]

for student in students:
  print(f"average grades of {student['name']} is {average(student['grades'])}")

0.8333333333333334
average grades of Ram is 30.0
average grades of mat is 13.0
average grades of pikolo is 23.0