<a href="https://colab.research.google.com/github/Santosh-QC/Colab-repository/blob/main/python_misc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Destructuring syntax

In [ ]:
season = [('jan', 'cold'), ('feb', 'cold'), ('march', 'spring'), ('apr', 'hot'), ('may','hot'), ('june','hot')]
for k,v in season:
  print(f"it's {k} and it's {v}")

it's jan and it's cold
it's feb and it's cold
it's march and it's spring
it's apr and it's hot
it's may and it's hot
it's june and it's hot

# List comprehension

In [6]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
guests = ['RAM', 'MAT', 'SHyam', 'DHONI']

friend_list = [people for people in guests if people.lower() in friends]
print(friend_list)

[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

['RAM', 'MAT']

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

# Set and Dictionary comprehension

In [ ]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
guests = ['RAM', 'MAT', 'SHyam', 'DHONI']

friends_lower = {f.lower() for f in friends}
guests_lower = {g.lower() for g in guests}

present_friends = guests_lower.intersection(friends_lower)
present_friends = {friend.title() for friend in present_friends}

print(present_friends)

{'Mat', 'Ram'}

In [ ]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
years = [1,10,12,10,5]

timers = {friends[i]:years[i] for i in range(len(friends))}
print(timers)

{'ram': 1, 'andy': 10, 'mat': 12, 'pitbulla': 10, 'rosicky': 5}

# Zip

In [ ]:
friends = ['ram', 'andy', 'mat', 'pitbulla', 'rosicky']
years = [1,10,12,10,5]

dict_ = dict(zip(friends, years))

list_ = list(zip(friends, years))

print(dict_)
print(list_)

{'ram': 1, 'andy': 10, 'mat': 12, 'pitbulla': 10, 'rosicky': 5}
[('ram', 1), ('andy', 10), ('mat', 12), ('pitbulla', 10), ('rosicky', 5)]

# Lambda function

In [ ]:
print((lambda x,y: x/y)(5,6))

average = (lambda sequence:sum(sequence)/len(sequence))
students = [{'name':'Ram','grades':(10,20,30,40,50)},
            {'name':'mat','grades':(11,12,13,14,15)},
            {'name':'pikolo','grades':(21,22,23,24,25)}
]

for student in students:
  print(f"average grades of {student['name']} is {average(student['grades'])}")

0.8333333333333334
average grades of Ram is 30.0
average grades of mat is 13.0
average grades of pikolo is 23.0

#Magic Methods

In [ ]:
class movies:
  def __init__(self, name=None):
    self.name = name
    self.genre = []

  def __len__(self):
    return len(self.genre)

  def __getitem__(self, i):
    return self.genre[i]

  def __repr__(self):
    return f'Movies {self.name}'

  def __str__(self):
    return f'Movies : {len(self)}'

movies_names = movies()
movies_names.genre.append('Action')
movies_names.name='Rambo'
print(f"{movies_names.name} is an {movies_names.genre[0]} movie.")
print(len(movies_names))
print(movies_names[0])

print(movies_names.__repr__())
print(movies_names.__str__())

Rambo is an Action movie.
1
Action
Movies Rambo
Movies : 1

# Inheritance 
# @property Decorator

In [ ]:
class student:
  def __init__(self, name, school):
    self.name = name
    self.school = school
    self.marks = []

  def average(self):
    return sum(self.marks)/ len(self.marks)

class WorkingStudent(student):
  def __init__(self, name, school, salary):
    super().__init__(name, school)
    self.salary = salary

  @property
  def weekly_salary(self):
    return int(self.salary / 37.5)

sam = WorkingStudent('sam', 'MIT', 16000)
print(f"{sam.name} salary is {sam.salary} and weekly salary is {sam.weekly_salary} USD.")
sam.marks.append(60)
sam.marks.append(100)
print(f"{sam.name} marks average is {sam.average()}.")

sam salary is 16000 and weekly salary is 426 USD.
sam marks average is 80.0.

# @ClassMethod
# @StaticMethod

In [ ]:
class Foo:
  @classmethod
  def hi(cls):
    print(cls.__name__)

obj = Foo()
obj.hi()

Foo

In [ ]:
class Bar:
  @staticmethod
  def text():
    print('this function doesn\'t take paramaters')

obj1 = Bar()
obj1.text()

this function doesn't take paramaters

In [ ]:
class Fixedfloat:
  def __init__(self, amount):
    self.amount = amount

  def __repr__(self):
    return f"fixed float {self.amount:.2f}"

  @classmethod
  def from_sum(cls, value1, value2):
    return cls(value1 + value2)

new = Fixedfloat.from_sum(50, 50)
print(new)

class dollar(Fixedfloat):
  def __init__(self, amount):
    super().__init__(amount)
    self.symbol = '$'

  def __repr__(self):
    return f"dollar {self.symbol} {self.amount:.2f}"

usd = dollar.from_sum(60, 100)
print(usd)

fixed float 100.00
dollar $ 160.00

# Context Managers
File Operations

In [ ]:
def save_to_file(content, filename):
  with open(filename, 'w') as file:
    file.write(content)

def read_file(filename):
  with open(filename, 'r') as file:
    return file.read().split('\n')

# Typing

In [ ]:
from typing import *

def testfunc() -> None:
  pass

def testfunc2() -> List[Dict(str, str)]:
  pass
#create custom typing
customtype = List[Dict(str, str)]

def testfunc3() -> customtype:
  pass

def testfunc4(name: str) -> None:
  pass

#using with class

import sqlite3

class databaseconnection:
  def __init__(self, host):
    self.host = host
    self.conenction = None

  def __enter__(self) -> sqlite3.Connection:
    self.conenction = sqlite3.connect(self.host)
    return self.connection

  def __exit__(self, exc_type, exc_val, exc_tb):
    if exc_type or exc_val or exc_tb:
      self.connection.close()
    else:
      self.connection.commit()
      self.connection.close()

# Generators

In [ ]:
def hundered_nums():
  i=0
  while i < 10:
    yield i
    i += 0.5
  
g = hundered_nums()

for _ in g:
  print(next(g))

0.5
1.5
2.5
3.5
4.5
5.5
6.5
7.5
8.5
9.5

# Generator classes

In [ ]:
class firsthundredgenerator:
  def __init__(self):
    self.number = 0
    
  def __next__(self):
    if self.number <= 10:
      current = self.number
      self.number += 1;
      return current
    else:
      raise StopIteration()

gen = firsthundredgenerator()
for _ in range(10):
  print(next(gen))

0
1
2
3
4
5
6
7
8
9

# Class *iterator*

In [ ]:
class classiterator:
  def __init__(self):
    self.numbers = [1,2,3,4,5]
    self.i = 0

  def __next__(self):
      if self.i < len(self.numbers):
        current = self.numbers[self.i]
        self.i += 1
        return current
      else:
        raise StopIteration()

citer = classiterator()

while citer:
  print(next(citer))

1
2
3
4
5

StopIteration: ignored

# Iterator

In [ ]:
class classiterator:
  def __init__(self):
    self.number = 0
    
  def __next__(self):
    if self.number <= 10:
      current = self.number
      self.number += 1;
      return current
    else:
      raise StopIteration()

class iterator:
  def __iter__(self):
    return classiterator()

print(f"sum is : {sum(iterator())}")
for i in iterator():
  print(i)

sum is : 55
0
1
2
3
4
5
6
7
8
9
10

# Iterator without class

In [ ]:
class classiterator:
  def __init__(self):
    self.number = 0
    
  def __next__(self):
    if self.number <= 10:
      current = self.number
      self.number += 1;
      return current
    else:
      raise StopIteration()

  def __iter__(self):
    return self

print(f"sum is : {sum(classiterator())}")
for i in classiterator():
  print(i)

sum is : 55
0
1
2
3
4
5
6
7
8
9
10

# iterable with __len__ and __getitem__ method

In [ ]:
class aniter:
  def __init__(self):
    self.cars = ['cars', 'bus']
  
  def __len__(self):
    return len(self.cars)

  def __getitem__(self, i):
    return self.cars[i]

for i in aniter():
  print(i)

cars
bus

# Generator comprehension

In [ ]:
generator_comprehension = (x for x in [1,3,4,5,6,7])
print(next(generator_comprehension))

1

# Filter

In [ ]:
def start_with_r_func(friend):
  return friend.startswith('r')


friends = ['rolf', 'randy', 'anna', 'mary'] 
starts_with_r = filter(start_with_r_func, friends) #arg1 = function that returns true of false
print(next(starts_with_r))
print(list(starts_with_r))

['rolf', 'randy']

# Using lambda function with filter

In [ ]:
def custom_filter(function, friends):
  for i in friends:
    if function(i):
      yield i

start_with_r_lambda = custom_filter(lambda friend:friend.startswith('r'),friends)
print(list(start_with_r_lambda))

['rolf', 'randy']

# Map

In [ ]:
friends_lower = map(lambda friend:friend.lower(), friends)
print(next(friends_lower))
print(next(friends_lower))

rolf
randy

# any()

In [ ]:
friendd = [
    {
    'name' : 'san',
    'location' : 'berlin'
     },

{
    'name' : 'sam',
 'location' : 'states'
}]

friendloc = [friend for friend in friendd if friend['location'] == 'berlin']
if any(friendloc):
  print('someone is nearby')

someone is nearby

# All()

In [ ]:
print(all([0,1,2,3,4,5]))
print(all([1,2,3,4,5]))

False
True

# Mutability

In [ ]:
""" 
Immutables
Strings, tuples, float, integers

mutables
list, dict
"""
int1 = 5
print(id(int1))

int1 = int1 + 1
print(id(int1))

dict1 = {'name': 'ronaldo', 'position': 'striker'}
print(id(dict1))

dict1['country'] = 'brazil'
print(dict1)
print(id(dict1))
print(type(dict1))

11122720
11122752
140528927082208
{'name': 'ronaldo', 'position': 'striker', 'country': 'brazil'}
140528927082208
<class 'dict'>

# Function parameter unpacking

In [ ]:
def average(*args):
  return sum(args)/len(args)

grades = [10,20,20,30,40,50]

average(*grades)

28.333333333333332

# uNPACKING SEQUENCE

In [ ]:
tup = ('san', [10,20,30])
name, grades = tup

print(f'{name} has scored {grades[0]}, {grades[1]}, {grades[2]} grades.')

san has scored 10, 20, 30 grades.

# Reduce

In [ ]:
from functools import reduce
print(reduce(lambda x,y: x+y, [1,2,3,4,5]))

15

# **Counter**

In [ ]:
from collections import Counter
text = 'this is a simple text with several words'
counter = Counter(text.split())


for word, count in sorted(counter.items()):
  print(f'the word "{word}" has occured:{count} instance.')

the word "a" has occured:1 instance.
the word "is" has occured:1 instance.
the word "several" has occured:1 instance.
the word "simple" has occured:1 instance.
the word "text" has occured:1 instance.
the word "this" has occured:1 instance.
the word "with" has occured:1 instance.
the word "words" has occured:1 instance.

# Lists as Queues

In [5]:
from collections import deque
queue = deque(['Eric','john','micheal'])
queue.append('san')
queue.append('phil')
queue

print(queue.popleft())
queue
queue.rotate()
queue

Eric

deque(['phil', 'john', 'micheal', 'san'])

# String formatting

In [28]:
name = "san"
print(f"He said his name is {name!r}.") #calls repr
print(f"He said his name is {name!s}.") #calls str
print(f"He said his name is {name!a}.") #calls ascii
"line = The mill's closed   "
f"{line !r:100}"

He said his name is 'san'.
He said his name is san.
He said his name is 'san'.

'"arsenal has won 14 league\'s title"                                                                 '

# standard type hierarchy

In [29]:
#None -> absence of value
#NotImplemented -> Numeric methods and rich comparison methods should return this value if they do not implement the operation for the operands provided. 
#elipsis

l=[..., 1,2,3]
print(l)

#Number -> int, bool, float, real, complex
#sequence: immutable -> string, tuple, bytes #mutable -> list, bytearray
#set -> unordered, finite sets of unique, immutable objects
# 1. Sets -> mutable set
# 2. Frozen sets -> immutable set

#Mappings -> Dictionaries : mutable

[Ellipsis, 1, 2, 3]

# Special attributes

In [2]:
def test(*name):
  """
  this is a docstring
  """
  return name

test.__doc__
test.__name__
test.__qualname__
test.__module__
test.__defaults__
test.__globals__ #A reference to the dictionary that holds the function’s global variables
test.__dict__
test.__closure__ # need clarifictions
test.__call__('san')
test.__le__('length') # less than equal to

#bases
class Parent:
    pass
class Person:
    pass
class Child(Parent, Person):
    pass
print(Child.__bases__)

#annotations

def save(x: "starting capital",
         y: "annual return (e.g., 0.1 == 10%)",
         n: "number of years"):
  return x * (1+y)**n

print(save.__annotations__)

#dunder chear sheet: https://blog.finxter.com/python-dunder-methods-cheat-sheet/

(<class '__main__.Parent'>, <class '__main__.Person'>)
{'x': 'starting capital', 'y': 'annual return (e.g., 0.1 == 10%)', 'n': 'number of years'}